* {
  font-family: "Coolvetica Bold", Arial, sans-serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño del video para que cubra el contenedor */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Color negro con opacidad del 70% */
  z-index: 1; /* Asegúrate de que el overlay esté encima del video */
}

.banner {
  margin-top: 100px;
  text-align: center;
}
h1 {
  margin-bottom: -27px;
}
h1,
h2 {
  font-weight: 700;
  font-size: 70px;
  color: white;
}

.banner p {
  font-size: 18px;
  color: white;
  max-width: 45%;
  margin: auto;
}
.point {
  color: #ca8a04;
}
.headerDesktop a {
  font-size: 17px;
}

header {
  margin-top: 45px;
}
.prjectsTitle {
  color: white;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 70px;
}
main {
  margin: 30px;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.buttons button {
  margin: 5px;
  color: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project {
  width: 200px;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}

.project img {
  width: 100%;
  height: auto;
}
.project img:hover {
  transform: scale(1.1); /* Escala la imagen al 110% del tamaño original */
  transition: transform 0.3s ease; /* Aplica una transición suave */
}

.project .title {
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.project .description {
  margin-top: 5px;
  color: white;
}
